/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe0b3; /* Warm background color */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
    color: #9c4e1b; /* Warm brown color */
}

.profile-img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.time-location {
    font-size: 1.2rem;
    color: #9c4e1b;
    margin-bottom: 1rem;
}

nav a {
    font-size: 1.2rem;
    color: #9c4e1b;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff5722; /* Lighter warm color */
}

.container {
    width: 100%;
    max-width: 900px;
    text-align: center;
    padding: 20px;
}

.content {
    padding: 20px;
    text-align: left;
    background-color: #fff2e6; /* Light warm background for content */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-img {
    width: 240px;
    border-radius: 5px;
    margin-right: 20px;
}

.faq-content {
    background-color: #fff2e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    line-height: 1.5;
}

address {
    font-style: normal;
}
